<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
       
        <meta name="viewport" content="width=device-width" />


<style>
    .drop {
        display:inline;
        float:left;
    }

</style>

     
         
        @Styles.Render("~/Content/Login")
        @Styles.Render("~/Content/bootstrap")
        

        
    </head>
    <body>

        <div id="wrapper">
                   
                
                @RenderBody()
               
           
        </div>

       
        @Scripts.Render("~/Scripts/script")
        @Scripts.Render("~/bundles/Login")
        @RenderSection("scripts", required: false)
    </body>
</html>
