@model MvcTesting.Models.form

@{
    ViewBag.Title = "passing";
}

<h2>passing</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>form</legend>
        <table id="tab">
        <tr>
            <td>
            <h2>@Html.Label("NABIHA")</h2></td>
        </tr>
        
        @*<div class="editor-label">*@
            
                <tr>
           <td> @Html.LabelFor(model => model.Name)</td> 
           <td> @Html.EditorFor(model => model.Name)
        
            
            @Html.ValidationMessageFor(model => model.Name)</td>
                    </tr>
        @*</div>

        <div class="editor-label">*@
          <tr>
                <td>@Html.LabelFor(model => model.Description)</td>
       
            <td>@Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)</td>
              </tr>
            
        @*<div class="editor-label">*@
           
        @*</div>*@
    </table>
        <p>
            <input type="submit" value="Submit" id="btn"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $(document).ready(function () {
        $("#btn").click(function () {
            $("tab").show();
        });
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
