@model WFTest1.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<style>

    .container {
        padding-bottom:230px;
    }
    #loginForm {
        margin-top:100px;
       margin-left:300px;
       
        padding-left:15px;

        
        border-radius:5px;

    }
    #login_form {
      
    }  
</style>


<div class="container" >
<hgroup class="title">
   
</hgroup>

<section id="loginForm">
@*<h2>Use a local account to log in.</h2>*@
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
    
    
    
    <form role="form" id="login_form">

      <div class="form-group">
        <label for="exampleInputEmail1">@Html.LabelFor(m => m.UserName)</label>
           @Html.TextBoxFor(m => m.UserName,new {@class="form-control" ,@id="exampleInputEmail1",@placeholder="Enter UserName"})
           @Html.ValidationMessageFor(m => m.UserName)
       
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1"> @Html.LabelFor(m => m.Password) </label>
           @Html.PasswordFor(m => m.Password, new {@type="password",@class="form-control", @id="exampleInputPassword1", @placeholder="Password" })
           @Html.ValidationMessageFor(m => m.Password)
        
      </div>     

      <div class="checkbox">
        <label>
          @Html.CheckBoxFor(m => m.RememberMe)
          @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        </label>
      </div>

    <input type="submit" value="Log in" class="btn btn-primary"/>
       
    <p>
       
        <div></div><div></div>
        <b> @Html.ActionLink("Register", "Register") </b> if you don't have an account.
    
    </p>

</form>  
   
}
</section>
  
@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
  </div>