@model WFTest1.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<style>

    span {
    margin-left:60px;
    }
    .reg_form {
    
       padding-bottom:300px;
       margin-top:100px;
       margin-left:400px;
       margin-right:400px;
    }
    #regForm {
        border:1px solid #867d7d;
        padding:50px;
    }
    #abc {
        margin-left:65px;
    }
</style>
<div class="reg_form">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div id="regForm">
    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                <span>@Html.TextBoxFor(m => m.UserName)</span>
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                <span id="abc">@Html.PasswordFor(m => m.Password)</span>
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
       
         <input type="submit" value="Register" class="btn btn-primary"/>
    </fieldset>
    </div>
}
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
