@model WFTest2.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Activity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.A_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.A_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Process.Proces_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Process.Proces_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Role_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.input)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.input)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Review)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Review)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Decision)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Decision)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
