@model WFTest2.Models.Field

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Field</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Field_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Field_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Form.Form_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Form.Form_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Role.Role_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role.Role_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Labels)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Labels)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fields)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fields)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
