@model WFTest2.Models.Field

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Field</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Field_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Field_Id)
            @Html.ValidationMessageFor(model => model.Field_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Form_Id, "Form")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Form_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Form_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Role_Id, "Role")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Role_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Role_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Labels)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Labels)
            @Html.ValidationMessageFor(model => model.Labels)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fields)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fields)
            @Html.ValidationMessageFor(model => model.Fields)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
