
@model List<MvcTesting.Models.activity>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    *@<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
        <legend>activity</legend>
    
    
    <div id="dynamictable"></div>
    <button  class="btn btn-info" type="button" id="button">Click me</button>
@*<script>
     $(document).ready(function () {
        $("#button").click(function () {
            $('#abc').append('<tr></tr>');
            var table = $('#abc').children();
            table.append('<td> @Html.LabelFor(model => model.E_ID, "Originator Name")</td><td><select name="mydropdown"><option>abc</option></select></td><td> @Html.EditorFor(model => model.Due_Date) @Html.ValidationMessageFor(model => model.Due_Date)</td><td> @Html.EditorFor(model => model.review)@Html.ValidationMessageFor(model => model.review) </td><td> @Html.LabelFor(model => model.review) </td><td> @Html.EditorFor(model => model.Input)@Html.ValidationMessageFor(model => model.Input)</td><td> @Html.LabelFor(model => model.Input) </td><td> @Html.EditorFor(model => model.Decision)@Html.ValidationMessageFor(model => model.Decision)</td><td> @Html.LabelFor(model => model.Decision)</td>');

        });
    });

</script>*@


down vote
	

@*@{
        var listItems = new List<System.Web.UI.WebControls.ListItem>
        {
              new System.Web.UI.WebControls.ListItem { Text = "Toyoto", Value = "0" },
              new System.Web.UI.WebControls.ListItem { Text = "Honda", Value = "1" },
              new System.Web.UI.WebControls.ListItem { Text = "Subaru", Value = "2" }
        };
}       *@


        @using (@Html.BeginForm("Index","Activity", FormMethod.Post))
{
    <table id="abc">
          @for (int i = 0; i < Model.Count(); i++)
        {
            <tr id="row" >
            <td><@Html.DropDownList("Employee Name", ViewBag.EmpList); 
                @*@Html.LabelFor(model => model[i].E_ID, "Originator Name") </td>
         @* <td> @Html.DropDownList("E_ID", String.Empty)@Html.ValidationMessageFor(model => model[i].E_ID) </td>*@
               
         <td> @Html.EditorFor(model => model[i].review)@Html.ValidationMessageFor(model => model[i].review) </td>
            <td> @Html.LabelFor(model => model[i].review) </td>
            <td> @Html.EditorFor(model => model[i].Input)@Html.ValidationMessageFor(model => model[i].Input)</td>
            <td> @Html.LabelFor(model => model[i].Input) </td> 
            <td> @Html.EditorFor(model => model[i].Decision)@Html.ValidationMessageFor(model => model[i].Decision)</td>
            <td> @Html.LabelFor(model => model[i].Decision)</td>
           @* <td> @Html.LabelFor(model => model[i].next_state, "Next State")</td>*@
            @*<td> @Html.DropDownList("next_state", String.Empty) @Html.ValidationMessageFor(model => model[i].next_state)</td>*@
            <td> @Html.LabelFor(model => model[i].Process_ID, "Process")</td>
          @*  <td> @Html.DropDownList("Process_ID[i]", String.Empty) @Html.ValidationMessageFor(model => model[i].Process_ID)</td> *@
            <td> @Html.LabelFor(model => model[i].Due_Date)</td>
            <td> @Html.EditorFor(model => model[i].Due_Date) @Html.ValidationMessageFor(model => model[i].Due_Date)</td>
        </tr>
           }

    </table>
       
<input  class="btn btn-info" type="submit" value="Save"/>
                                               
}

<div>
    
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
